<div class="container">

	<h3>Chi tiết danh bạ</h3>

	<li><%= image_tag @contact.image.url(:medium) %></li><br>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Họ Tên</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ</th>
        <th>Ghi chú</th>
      </tr>
    </thead>
	  <tbody>
	      <tr>
	        <td><%= @contact.name %></td>
	        <td><%= @contact.number %></td>
	        <td><%= @contact.address %></td>
	        <td><%= @contact.note %></td>
	      </tr>
	  </tbody>
  </table>

	<div class="article-info">
	     <%= link_to 'Sửa', edit_contact_path(@contact), class: 'btn btn-success btn-sm'%>
	     <%= link_to 'Xóa', contact_path(@contact), method: 'delete', data: {confirm: 'Bạn có muốn xoá bài này không?'}, class: 'btn btn-danger btn-sm' %>
	</div>

</div>